.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 15px;
  border: 1px solid #bbb;
  min-height: 100vh;
  gap: 15px;
  padding: 15px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding-top: 15px;
  border: 1px solid #bbb;
}

main {
  padding: 15px;
  border: 1px solid #bbb;
}

main > section {
  padding: 15px;
  border: 1px solid #bbb;
  display: none;
}

main > section.active {
  display: block;
}

#note-list {
  & > .nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    & > .tag-bar {
      display: flex;
      gap: 10px;
    }
  }
}

#add-tag,
#add-note,
#search-note {
  & > .nav {
    text-align: center;
  }
}

.add-tag-form,
.search-note-form {
  & .bar {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 30px;

    & > label {
      min-width: max-content;
    }
    & > input {
      width: 100%;
    }
  }
  & .control {
    display: flex;
    justify-content: center;
  }
}

#add-note > form {
  & > .add-note-bar {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    & > #selected-tags {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
  }

  & > .form-body {
    display: grid;
    gap: 20px;

    & > div {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 20px;

      & :is(textarea, input) {
        width: 100%;
        margin: 5px 0;
        padding: 3px;
      }
    }

    & > .control {
      display: flex;
      justify-content: center;
    }
  }
}
